@page "/"

<h1>Simple Demo</h1>

You can create and update customers.
This is not meant to be at all impressive, I just wanted to show something to go along with the
code I provide 

<span class="text-nowrap">
    <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2127996"> here</a>
</span>

